---
import Button from "../tags/Button.astro"
import GameOverASCII from "./GameOverASCII.astro"
---

<div class="restart-wrapper">
    <GameOverASCII />
    <Button text="Restart Game" id="restart-button" />
</div>

