---

---

<div class="level level-5">

</div>

<style>
    .level-1 {
        box-shadow: 20px 10px 0 0 #ffffff, 70px 10px 0 0 #ffffff, 80px 10px 0 0 #ffffff, 90px 10px 0 0 #ffffff, 100px 10px 0 0 #ffffff, 120px 10px 0 0 #ffffff, 160px 10px 0 0 #ffffff, 180px 10px 0 0 #ffffff, 190px 10px 0 0 #ffffff, 200px 10px 0 0 #ffffff, 210px 10px 0 0 #ffffff, 230px 10px 0 0 #ffffff, 290px 10px 0 0 #ffffff, 20px 20px 0 0 #ffffff, 70px 20px 0 0 #ffffff, 120px 20px 0 0 #ffffff, 160px 20px 0 0 #ffffff, 180px 20px 0 0 #ffffff, 230px 20px 0 0 #ffffff, 280px 20px 0 0 #ffffff, 290px 20px 0 0 #ffffff, 20px 30px 0 0 #ffffff, 70px 30px 0 0 #ffffff, 80px 30px 0 0 #ffffff, 90px 30px 0 0 #ffffff, 100px 30px 0 0 #ffffff, 120px 30px 0 0 #ffffff, 160px 30px 0 0 #ffffff, 180px 30px 0 0 #ffffff, 190px 30px 0 0 #ffffff, 200px 30px 0 0 #ffffff, 210px 30px 0 0 #ffffff, 230px 30px 0 0 #ffffff, 290px 30px 0 0 #ffffff, 20px 40px 0 0 #ffffff, 70px 40px 0 0 #ffffff, 130px 40px 0 0 #ffffff, 150px 40px 0 0 #ffffff, 180px 40px 0 0 #ffffff, 230px 40px 0 0 #ffffff, 290px 40px 0 0 #ffffff, 20px 50px 0 0 #ffffff, 30px 50px 0 0 #ffffff, 40px 50px 0 0 #ffffff, 50px 50px 0 0 #ffffff, 70px 50px 0 0 #ffffff, 80px 50px 0 0 #ffffff, 90px 50px 0 0 #ffffff, 100px 50px 0 0 #ffffff, 140px 50px 0 0 #ffffff, 180px 50px 0 0 #ffffff, 190px 50px 0 0 #ffffff, 200px 50px 0 0 #ffffff, 210px 50px 0 0 #ffffff, 230px 50px 0 0 #ffffff, 240px 50px 0 0 #ffffff, 250px 50px 0 0 #ffffff, 260px 50px 0 0 #ffffff, 280px 50px 0 0 #ffffff, 290px 50px 0 0 #ffffff, 300px 50px 0 0 #ffffff;
        height: 10px;
        width: 10px;
    }

    .level-2 {
        box-shadow: 20px 10px 0 0 #ffffff, 70px 10px 0 0 #ffffff, 80px 10px 0 0 #ffffff, 90px 10px 0 0 #ffffff, 100px 10px 0 0 #ffffff, 120px 10px 0 0 #ffffff, 160px 10px 0 0 #ffffff, 180px 10px 0 0 #ffffff, 190px 10px 0 0 #ffffff, 200px 10px 0 0 #ffffff, 210px 10px 0 0 #ffffff, 230px 10px 0 0 #ffffff, 280px 10px 0 0 #ffffff, 290px 10px 0 0 #ffffff, 300px 10px 0 0 #ffffff, 20px 20px 0 0 #ffffff, 70px 20px 0 0 #ffffff, 120px 20px 0 0 #ffffff, 160px 20px 0 0 #ffffff, 180px 20px 0 0 #ffffff, 230px 20px 0 0 #ffffff, 300px 20px 0 0 #ffffff, 20px 30px 0 0 #ffffff, 70px 30px 0 0 #ffffff, 80px 30px 0 0 #ffffff, 90px 30px 0 0 #ffffff, 100px 30px 0 0 #ffffff, 120px 30px 0 0 #ffffff, 160px 30px 0 0 #ffffff, 180px 30px 0 0 #ffffff, 190px 30px 0 0 #ffffff, 200px 30px 0 0 #ffffff, 210px 30px 0 0 #ffffff, 230px 30px 0 0 #ffffff, 280px 30px 0 0 #ffffff, 290px 30px 0 0 #ffffff, 300px 30px 0 0 #ffffff, 20px 40px 0 0 #ffffff, 70px 40px 0 0 #ffffff, 130px 40px 0 0 #ffffff, 150px 40px 0 0 #ffffff, 180px 40px 0 0 #ffffff, 230px 40px 0 0 #ffffff, 280px 40px 0 0 #ffffff, 20px 50px 0 0 #ffffff, 30px 50px 0 0 #ffffff, 40px 50px 0 0 #ffffff, 50px 50px 0 0 #ffffff, 70px 50px 0 0 #ffffff, 80px 50px 0 0 #ffffff, 90px 50px 0 0 #ffffff, 100px 50px 0 0 #ffffff, 140px 50px 0 0 #ffffff, 180px 50px 0 0 #ffffff, 190px 50px 0 0 #ffffff, 200px 50px 0 0 #ffffff, 210px 50px 0 0 #ffffff, 230px 50px 0 0 #ffffff, 240px 50px 0 0 #ffffff, 250px 50px 0 0 #ffffff, 260px 50px 0 0 #ffffff, 280px 50px 0 0 #ffffff, 290px 50px 0 0 #ffffff, 300px 50px 0 0 #ffffff;
        height: 10px;
        width: 10px;
    }

    .level-3 {
        box-shadow: 20px 10px 0 0 #ffffff, 70px 10px 0 0 #ffffff, 80px 10px 0 0 #ffffff, 90px 10px 0 0 #ffffff, 100px 10px 0 0 #ffffff, 120px 10px 0 0 #ffffff, 160px 10px 0 0 #ffffff, 180px 10px 0 0 #ffffff, 190px 10px 0 0 #ffffff, 200px 10px 0 0 #ffffff, 210px 10px 0 0 #ffffff, 230px 10px 0 0 #ffffff, 280px 10px 0 0 #ffffff, 290px 10px 0 0 #ffffff, 300px 10px 0 0 #ffffff, 20px 20px 0 0 #ffffff, 70px 20px 0 0 #ffffff, 120px 20px 0 0 #ffffff, 160px 20px 0 0 #ffffff, 180px 20px 0 0 #ffffff, 230px 20px 0 0 #ffffff, 300px 20px 0 0 #ffffff, 20px 30px 0 0 #ffffff, 70px 30px 0 0 #ffffff, 80px 30px 0 0 #ffffff, 90px 30px 0 0 #ffffff, 100px 30px 0 0 #ffffff, 120px 30px 0 0 #ffffff, 160px 30px 0 0 #ffffff, 180px 30px 0 0 #ffffff, 190px 30px 0 0 #ffffff, 200px 30px 0 0 #ffffff, 210px 30px 0 0 #ffffff, 230px 30px 0 0 #ffffff, 280px 30px 0 0 #ffffff, 290px 30px 0 0 #ffffff, 300px 30px 0 0 #ffffff, 20px 40px 0 0 #ffffff, 70px 40px 0 0 #ffffff, 130px 40px 0 0 #ffffff, 150px 40px 0 0 #ffffff, 180px 40px 0 0 #ffffff, 230px 40px 0 0 #ffffff, 300px 40px 0 0 #ffffff, 20px 50px 0 0 #ffffff, 30px 50px 0 0 #ffffff, 40px 50px 0 0 #ffffff, 50px 50px 0 0 #ffffff, 70px 50px 0 0 #ffffff, 80px 50px 0 0 #ffffff, 90px 50px 0 0 #ffffff, 100px 50px 0 0 #ffffff, 140px 50px 0 0 #ffffff, 180px 50px 0 0 #ffffff, 190px 50px 0 0 #ffffff, 200px 50px 0 0 #ffffff, 210px 50px 0 0 #ffffff, 230px 50px 0 0 #ffffff, 240px 50px 0 0 #ffffff, 250px 50px 0 0 #ffffff, 260px 50px 0 0 #ffffff, 280px 50px 0 0 #ffffff, 290px 50px 0 0 #ffffff, 300px 50px 0 0 #ffffff;
        height: 10px;
        width: 10px;
    }

    .level-4 {
        box-shadow: 20px 10px 0 0 #ffffff, 70px 10px 0 0 #ffffff, 80px 10px 0 0 #ffffff, 90px 10px 0 0 #ffffff, 100px 10px 0 0 #ffffff, 120px 10px 0 0 #ffffff, 160px 10px 0 0 #ffffff, 180px 10px 0 0 #ffffff, 190px 10px 0 0 #ffffff, 200px 10px 0 0 #ffffff, 210px 10px 0 0 #ffffff, 230px 10px 0 0 #ffffff, 280px 10px 0 0 #ffffff, 300px 10px 0 0 #ffffff, 20px 20px 0 0 #ffffff, 70px 20px 0 0 #ffffff, 120px 20px 0 0 #ffffff, 160px 20px 0 0 #ffffff, 180px 20px 0 0 #ffffff, 230px 20px 0 0 #ffffff, 280px 20px 0 0 #ffffff, 300px 20px 0 0 #ffffff, 20px 30px 0 0 #ffffff, 70px 30px 0 0 #ffffff, 80px 30px 0 0 #ffffff, 90px 30px 0 0 #ffffff, 100px 30px 0 0 #ffffff, 120px 30px 0 0 #ffffff, 160px 30px 0 0 #ffffff, 180px 30px 0 0 #ffffff, 190px 30px 0 0 #ffffff, 200px 30px 0 0 #ffffff, 210px 30px 0 0 #ffffff, 230px 30px 0 0 #ffffff, 280px 30px 0 0 #ffffff, 290px 30px 0 0 #ffffff, 300px 30px 0 0 #ffffff, 20px 40px 0 0 #ffffff, 70px 40px 0 0 #ffffff, 130px 40px 0 0 #ffffff, 150px 40px 0 0 #ffffff, 180px 40px 0 0 #ffffff, 230px 40px 0 0 #ffffff, 300px 40px 0 0 #ffffff, 20px 50px 0 0 #ffffff, 30px 50px 0 0 #ffffff, 40px 50px 0 0 #ffffff, 50px 50px 0 0 #ffffff, 70px 50px 0 0 #ffffff, 80px 50px 0 0 #ffffff, 90px 50px 0 0 #ffffff, 100px 50px 0 0 #ffffff, 140px 50px 0 0 #ffffff, 180px 50px 0 0 #ffffff, 190px 50px 0 0 #ffffff, 200px 50px 0 0 #ffffff, 210px 50px 0 0 #ffffff, 230px 50px 0 0 #ffffff, 240px 50px 0 0 #ffffff, 250px 50px 0 0 #ffffff, 260px 50px 0 0 #ffffff, 300px 50px 0 0 #ffffff;
        height: 10px;
        width: 10px;
    }

    .level-5 {
        box-shadow: 20px 10px 0 0 #ff0000, 70px 10px 0 0 #ff0000, 80px 10px 0 0 #ff0000, 90px 10px 0 0 #ff0000, 100px 10px 0 0 #ff0000, 120px 10px 0 0 #ff0000, 160px 10px 0 0 #ff0000, 180px 10px 0 0 #ff0000, 190px 10px 0 0 #ff0000, 200px 10px 0 0 #ff0000, 210px 10px 0 0 #ff0000, 230px 10px 0 0 #ff0000, 280px 10px 0 0 #ff0000, 290px 10px 0 0 #ff0000, 300px 10px 0 0 #ff0000, 20px 20px 0 0 #ff0000, 70px 20px 0 0 #ff0000, 120px 20px 0 0 #ff0000, 160px 20px 0 0 #ff0000, 180px 20px 0 0 #ff0000, 230px 20px 0 0 #ff0000, 280px 20px 0 0 #ff0000, 20px 30px 0 0 #ff0000, 70px 30px 0 0 #ff0000, 80px 30px 0 0 #ff0000, 90px 30px 0 0 #ff0000, 100px 30px 0 0 #ff0000, 120px 30px 0 0 #ff0000, 160px 30px 0 0 #ff0000, 180px 30px 0 0 #ff0000, 190px 30px 0 0 #ff0000, 200px 30px 0 0 #ff0000, 210px 30px 0 0 #ff0000, 230px 30px 0 0 #ff0000, 280px 30px 0 0 #ff0000, 290px 30px 0 0 #ff0000, 300px 30px 0 0 #ff0000, 20px 40px 0 0 #ff0000, 70px 40px 0 0 #ff0000, 130px 40px 0 0 #ff0000, 150px 40px 0 0 #ff0000, 180px 40px 0 0 #ff0000, 230px 40px 0 0 #ff0000, 300px 40px 0 0 #ff0000, 20px 50px 0 0 #ff0000, 30px 50px 0 0 #ff0000, 40px 50px 0 0 #ff0000, 50px 50px 0 0 #ff0000, 70px 50px 0 0 #ff0000, 80px 50px 0 0 #ff0000, 90px 50px 0 0 #ff0000, 100px 50px 0 0 #ff0000, 110px 50px 0 0 #ff0000, 140px 50px 0 0 #ff0000, 180px 50px 0 0 #ff0000, 190px 50px 0 0 #ff0000, 200px 50px 0 0 #ff0000, 210px 50px 0 0 #ff0000, 230px 50px 0 0 #ff0000, 240px 50px 0 0 #ff0000, 250px 50px 0 0 #ff0000, 260px 50px 0 0 #ff0000, 280px 50px 0 0 #ff0000, 290px 50px 0 0 #ff0000, 300px 50px 0 0 #ff0000;
        height: 10px;
        width: 10px;
        animation: level5Flashing .4s ease-in-out infinite;
    }

    .level {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(calc(-50% - 160px), -40px);
    }

    @keyframes level5Flashing {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
</style>