<div class="ascii-art-wrapper">
<div class="ascii-art">

    <span>----</span>________      _______ _        _____   ____  _   _  _____ 
    |  ____\ \    / /_   _| |      |  __ \ / __ \| \ | |/ ____|
    | |__   \ \  / /  | | | |      | |__) | |  | |  \| | |  __ 
    |  __|   \ \/ /   | | | |      |  ___/| |  | | . ` | | |_ |
    | |____   \  /   _| |_| |____  | |    | |__| | |\  | |__| |
    |______|   \/   |_____|______| |_|     \____/|_| \_|\_____|
                                                               
                                                               
   
</div>
</div>

<style>
    .ascii-art-wrapper {
        margin: 4rem 0;
    }

    .ascii-art {
      white-space: pre;
      text-align: center;
      font-size: 16px;
    }

    span {
        visibility: hidden;
    }
</style>