---
import Button from "../tags/Button.astro"
import StartGameASCII from "./StartGameASCII.astro"
---

<div class="start-game-wrapper">
    <StartGameASCII />
    <Button text="Start Game" id="start-button" />
</div>

