---
import FollowMouse from "../components/FollowMouse.astro";
import Pong from "../components/pong/Pong.astro";
import Tech from "../components/tech/Tech.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<FollowMouse />
			<Pong />
			<Tech />
		</main>
	</body>
</html>

<style is:global>
:root {
	background-color: #121212;
	color: white;
	font-family: "Lucida Console", Monaco, monospace;

	/* Black */
	--black-dark: #000000;
	--black-light: #808080;

	/* Red */
	--red-dark: #800000;
	--red-light: #ff0000;

	/* Green */
	--green-dark: #008000;
	--green-light: #00ff00;

	/* Yellow */
	--yellow-dark: #808000;
	--yellow-light: #ffff00;

	/* Blue */
	--blue-dark: #000080;
	--blue-light: #0000ff;

	/* Magenta */
	--magenta-dark: #800080;
	--magenta-light: #ff00ff;

	/* Cyan */
	--cyan-dark: #008080;
	--cyan-light: #00ffff;

	/* White */
	--white-dark: #c0c0c0;
	--white-light: #ffffff;
	}

html, body {
	overflow-x: hidden;
	width: 2200px;
	max-width: 100%;
	margin: 0 auto;
}

* {
	margin: 0;
	box-sizing: border-box;
}

section {
	margin: 2rem 0;
}

.ascii-art-wrapper {
    margin: 4rem 0;
}
    
.ascii-art {
    white-space: pre;
    text-align: center;
    font-size: 16px;
	transform: translateX(-2ch);
}
</style>

<script>
const titleText = " ★☆★ React Developer";
let position = 0;

(function scrollTitle() {
    document.title = titleText.slice(position) + titleText.slice(0, position);
    position = (position + 1) % titleText.length;
    setTimeout(scrollTitle, 200);
})()
</script>