---
import FollowMouse from "../components/FollowMouse.astro"
import Pong from "../components/Pong.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<main>
			<FollowMouse />
			<Pong />
		</main>
	</body>
</html>


<style>
	:root {
		background-color: #121212;
		color: white;
		font-family: "Lucida Console", Monaco, monospace;
	}

	html, body {
		overflow-x: hidden;
		max-width: 100%;
		
	}

	* {
		margin: 0;
		box-sizing: border-box;
	}
</style>