---
import TechASCII from "./TechASCII.astro"
import ASCIIcontainer from "../tags/ASCIIcontainer.astro"
---


<section>
    <TechASCII />
    <ASCIIcontainer>
        <p>This is content passed as children.</p>
  <p>You can also pass more HTML here.</p>
    </ASCIIcontainer>
</section>